<!DOCTYPE HTML>
<html>
    <head>
	  <title>Beautybible</title>
      <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link href="../css/bootstrap.css" rel="stylesheet">
      <link href="../css/bootstrap-responsive.css" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="../css/main.css">
	</head>
    <body>
	  <div class="container-fluid">
	  
	    <!--Top bar -->
		<div class="row-fluid top-container">  
	         <div class="span5">
	            <img class="logo" src="../images/logo.png">
	         </div>
	          <div class="span3 offset9 signin-align">
	          <span> {{ user_mail }} <a href="{{ logout }}">logout</a></span>
	       </div>
        </div>
		<!-- End of top bar -->
		
		<!-- Main navigation -->
		
		<div class = "navbar">
	     <div class = "navbar-inner">
	      <ul class = "nav">   
			<!--not completed-->
		      <li> <a href="/beautybible">Home</a></li>
			  <li> <a href="/beautyadvice">Beauty advice</a></li>
			  <li> <a href="/products">Products</a></li>
	
			  <li> <a href="/body beautification">Body beautification</a></li>
			  <li> <a href="/information sharing">Information sharing</a></li>
			</ul>
	    </div>
	   </div>
	   
	   
	   <fieldset >
	      <legend>Complete writing!</legend>
	     
	      <div class="span12 title1">
		  <div class="note1"> Article added!</div>
	       <ul class ="vote note2">
	           <li><a href ="/write_article">Write another article!</a></li>
	           <li><a href ="/display">View my articles!</a></li>
           </ul>
            
		 
		   
		
		 
              </div>
            </fieldset>
		
	     </div>
	
	  
	</body>
</html>